# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Môi trường ảo (Virtual Environment)
.venv/
venv/
ENV/
env/

# Cấu hình IDE (VS Code, PyCharm)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.swp

# Cơ sở dữ liệu & File Log local
*.db
*.sqlite3
*.log

# Testing & Coverage
.pytest_cache/
.coverage

# File rác Hệ điều hành (macOS, Windows)
.DS_Store
Thumbs.db
Desktop.ini